# Assignment Part-I Task-4

**Task-4** Anomaly Detection on two data sets (5 marks): 

Notes:

1). Predictive Maintenance Data: The data set tries to build an anomaly detection to predict and detect the machine failures. The dataset consists of 10000 data points stored as rows with 14 attributes in columns. You still need pre-processing and feature extraction for this data set. Particularly, the target is the attribute “Machine Failure” (0 for normal points and 1 for anomaly), and you could simple ignore the last five columns as they have been merged into the attribute “Machine Failure”. There are a several columns that might not be suitable to included. Note that the encoding of the target classes might affect the calculation of AUC scores.

2). Network Traffic Data: This is the data set used for a competition. The competition task was to build a network intrusion detector, a predictive model capable of distinguishing between “bad” connections, called intrusions or attacks, and “good” normal connections. This database contains a standard set of data to be audited, which includes a wide variety of intrusions simulated in a military network environment. To facilitate your data analysis process, we have done sampling and data pre-processing for you. All the features are named as “Feature #”, and the last attribute is the label. The label just has two values (1 for normal data and -1 for anomalies).

3). You are required to perform anomaly detection on the two data sets with multiple methods. One-class SVM is optional while we encourage you to complete it by learning it from the sklearn online document.

In [1]:
import numpy as np
import pandas as pd

In [2]:
data1=pd.read_csv('data/predictive-maintenance/predictive-maintenance.csv')
data1

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,0,0,0,0,0
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,0,0,0,0,0
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,0,0,0,0,0
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,0,0,0,0,0
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,0,0,0,0,0

In [ ]:
##Pre-processing

In [4]:
data2=pd.read_csv('data/network-traffic-analysis/kddcup99.csv')
data2

,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,Feature 9,Feature 10,...,Feature 30,Feature 31,Feature 32,Feature 33,Feature 34,Feature 35,Feature 36,Feature 37,Feature 38,Label
0,0.000000,3.370000e-07,0.000049,0,0.0,0,0.0,0.0,1,0.0,...,0.858824,1.0,0.0,0.01,0.03,0.0,0.00,0.0,0.0,1
1,0.000000,3.480000e-07,0.000050,0,0.0,0,0.0,0.0,1,0.0,...,0.898039,1.0,0.0,0.01,0.03,0.0,0.00,0.0,0.0,1
2,0.000000,3.420000e-07,0.000328,0,0.0,0,0.0,0.0,1,0.0,...,1.000000,1.0,0.0,0.10,0.05,0.0,0.00,0.0,0.0,1
3,0.000000,4.280000e-07,0.000388,0,0.0,0,0.0,0.0,1,0.0,...,1.000000,1.0,0.0,0.00,0.01,0.0,0.00,0.0,0.0,1
4,0.000000,2.900000e-07,0.000664,0,0.0,0,0.0,0.0,1,0.0,...,1.000000,1.0,0.0,0.00,0.00,0.0,0.00,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6960,0.002057,4.020000e-07,0.000033,0,0.0,0,0.0,0.0,1,0.0,...,1.000000,1.0,0.0,0.03,0.07,0.0,0.00,0.0,0.0,1
6961,0.000000,3.970000e-07,0.000048,0,0.0,0,0.0,0.0,1,0.0,...,1.000000,1.0,0.0,0.50,0.08,0.0,0.00,0.0,0.0,1
6962,0.000000,4.700000e-07,0.000904,0,0.0,0,0.0,0.0,1,0.0,...,1.000000,1.0,0.0,0.04,0.10,0.0,0.00,0.0,0.0,1
6963,0.000000,3.490000e-07,0.001371,0,0.0,0,0.0,0.0,1,0.0,...,1.000000,1.0,0.0,0.02,0.05,0.0,0.00,0.0,0.0,1
6964,0.000000,4.170000e-07,0.000361,0,0.0,0,0.0,0.0,1,0.0,...,1.000000,1.0,0.0,0.01,0.05,0.0,0.01,0.0,0.0,1