# Assignment Part-I Task-1

Name: Michael Merrick  SID: 44849354

**Task-1** Regression on Power Consumption Time Series (3 marks): The time series dataset consists of samples about the weather factors and the power consumption of City A in 2017 (for assignment purpose, some specific information is hidden). Every ten minutes, the weather information including Temperature, Humidity, and Wind Speed is recorded together with the power consumption. You are required to train a regression prediction model for the next day’s power consumption prediction based on the historical records of the past week (7 days).

Notes:

1). The data set has not be pre-processed, and you might need to consider pre-processing issues like missing value imputation and standardization before training the model.

2). Please note that while the goal is to build the model for predicting daily power consumption, the data is sampled every ten minutes.

3). So, you should perform basic feature extraction for time series by the sliding window technique. This is a very important step for the success of the built model. Let W be the window size. If the task is to predict the power consumption at time stamp (i.e., day) t, you could construct features with the historical data at time stamps from t-W to t-1. Data instances after the feature extraction can be regarded as independent of each other. Also, it is also noted that the data set is a multi-dimensional time series. 

4). With obtained feature vectors, a linear regression model can be trained for prediction.

In [5]:
import numpy as np
import pandas as pd

In [5]:
data=pd.read_csv('data/power-consumption/power-consumption.csv')
data

               DateTime  Temperature  Humidity  Wind Speed  Power Consumption
0           1/1/17 0:00        6.559      73.8       0.083        34055.69620
1           1/1/17 0:10        6.414      74.5       0.083        29814.68354
2           1/1/17 0:20        6.313      74.5       0.080        29128.10127
3           1/1/17 0:30        6.121      75.0       0.083        28228.86076
4           1/1/17 0:40        5.921      75.7       0.081        27335.69620
...                 ...          ...       ...         ...                ...
52411  12/30/2017 23:10        7.010      72.4       0.080        31160.45627
52412  12/30/2017 23:20        6.947      72.6       0.082        30430.41825
52413  12/30/2017 23:30        6.900      72.8       0.086        29590.87452
52414  12/30/2017 23:40        6.758      73.0       0.080        28958.17490
52415  12/30/2017 23:50        6.580      74.1       0.081        28349.80989

[52416 rows x 5 columns]

In [1]:
##Pre-processing
#Missi